@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@300;400&display=swap');

:root {
    --color-white: rgb(255, 255, 255);
    --color-primary: rgb(8, 34, 48);
    --color-primary-gradiant: rgb(8, 34, 48, 0.8);
    --color-primary-bright: rgb(9, 41, 59);
    --color-primary-brighter: rgb(11, 58, 84);
    --color-primary-brightest: rgb(10, 109, 163);
    --color-primary-dark: rgb(0, 19, 28);
    --color-primary-darker: rgb(0, 19, 28);
    --color-secondary: rgb(65, 122, 27);
    --color-secondary-gradiant: rgba(0, 60, 0, 0.2);
    --color-secondary-bright: rgb(98, 189, 38);
    --color-secondary-dark: rgb(42, 79, 17);
    --color-text-muted: rgba(255, 255, 255, 0.7);
    --color-text-dark: rgb(80, 80, 80);
    --image-background: url('../images/background.jpg');
    --image-background1: url('../images/background1.jpg');
    --image-background2: url('../images/background2.jpg');
}

/* ______________________________________________________________________________________________________________________ */
/* _____________________________________________ overwrite bootstrap styling ____________________________________________ */
/* ______________________________________________________________________________________________________________________ */
.bg-primary {
    background-color: var(--color-primary)!important;
}

.bg-dark{
    background-color: var(--color-primary-dark)!important;
}

.text-muted {
    color: var(--color-text-muted)!important;
}

.text-dark {
    color: var(--color-text-dark)!important;
}

.btn-secondary {
    background-color: var(--color-secondary)!important;
    color: var(--color-white)!important;
}

/* ______________________________________________________________________________________________________________________ */
/* _______________________________________________________ general ______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
  }

body {
    background-image: 
        linear-gradient(
            to bottom, var(--color-primary-dark), var(--color-secondary-gradiant)
        )
        ,var(--image-background);
    backdrop-filter: blur(3px);
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--color-primary);
    font-family: Nunito, Arial, sans-serif;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    background-color: var(--color-primary);
    color: var(--color-white);
}

h2 {
    color: var(--color-secondary);
}

hr {
    background-color: var(--color-text-muted);
}

/* ______________________________________________________________________________________________________________________ */
/* _______________________________________________________ navbar _______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
.navbar {
    font-size: 0.65em;
}

#navbar-logo {
    height: 80px;
    margin: 0 24px 0 0;
    padding: 0;
    opacity: 40%;
}

/* #navbar-logo:hover {
    opacity: 100%;
    transition: ease-in-out 0.2s;
} */

#navbarSupportedContent {
    margin: 0;
}

#navbar-faceit-login {
    margin: 0;
}

.nav-item {
    font-size: 1.7em;
    margin-right: 16px;
}

.nav-item::before {
    content: '';
    display: block;
    height: 2px;
    background-color: var(--color-white);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 0.2s;
}

.nav-item:active::before,
.nav-item:focus::before,
.nav-item:hover::before {
    width: 100%;
}

.nav-item:active,
.nav-item:focus,
.nav-item:hover {
    color: var(--color-primary);
    transition: all ease-in-out 0.3s;
}

.dropdown:hover .dropdown-menu {
    margin-top: 0;
    display: block;
    background-color: var(--color-primary);
    box-shadow: 0 0 16px black;
    border-radius: 10px; /* FIX - is this required */
    -webkit-border-radius: 10px 10px 10px 10px ;
    -moz-border-radius: 10px 10px 10px 10px ;
}

.dropdown-item {
    color: var(--color-text-muted);
    font-size: 1.2em;
}

.dropdown-item:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
    transition: all ease-in-out 0.6s;
    /* border-radius: 10px;
    -webkit-border-radius: 10px 10px 10px 10px ;
    -moz-border-radius: 10px 10px 10px 10px ; */
}

/* ______________________________________________________________________________________________________________________ */
/* _____________________________________________________ jumbotron ______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
.jumbotron {
    border-radius: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 0;
    /* border-bottom: 3px solid var(--color-secondary-dark); */
}

.vertical-center {
    min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
  }

.large-jumbotron {
    height: 90vh;
    /* padding-bottom: 240px; */
    border-bottom: none;
}

.jumbotron-logo {
    height: 128px;
    padding: 0;
    margin: 0;
}

.large-jumbotron .jumbotron-logo {
    height: 240px;
}

.jumbotron h1 {
    margin-bottom: 0px;
}

#lead-text {
    color: var(--color-text-muted);
    margin: 0;
}

#jumbotron-btn {
    border-radius: 24px;
    background-color: var(--color-secondary);
    border: none;
    color: white;
    margin-top: 32px;
    box-shadow: 0 0 24px 8px rgba(0,0,0,0.4);
}

/* #jumbotron-btn {
    border-radius: 16px;
    background-color: var(--color-secondary);
    border: none;
    color: white;
    margin-top: 32px;
    transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 0 24px 8px rgba(0,0,0,0.4);
}
  
#jumbotron-btn:hover {
    border-radius: 4px;
    transform: scale(1.2);
    transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 0 30px 16px rgba(0, 0, 0, 0.5);
}
  
#jumbotron-btn:hover:before {
    opacity: 1;
}
  
#jumbotron-btn:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
    transition: .15s all ease-out;
    opacity: 0;
    border-radius: 5px;
} */








#jumbotron-btn:hover {
    background-color: var(--color-secondary-dark);
    transition: ease-in-out 0.3s;
}

/* #jumbotron-btn a {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#jumbotron-btn a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#jumbotron-btn:hover a {
    padding-right: 25px;
}

#jumbotron-btn:hover a:after {
    opacity: 1;
    right: 0;
} */


/* ----------------------------------------- */
  

#jumbotron-btn:hover {
    border-color: var(--color-primary-dark);
}

.contact-type-span {
    color: var(--color-secondary);
}

.jumbotron h2 {
    color: var(--color-white);
}

.jumbotron hr {
    width: 160px;
}

.jumbotron a {
    text-decoration: none;
    color: var(--color-text-muted);
    transition: ease-in-out 0.2s;
}

.jumbotron a:hover {
    color: var(--color-secondary);
}

.card {
    margin-bottom: 24px;
    border: none;
    background-color: var(--color-primary-gradiant);
    box-shadow: 0 0 24px 8px rgba(0,0,0,0.5);
    transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card img {
    filter: brightness(80%);
}

.card img:hover {
    filter: brightness(150%);
    transition: 0.15s ease-in-out;
}

.card:hover {
    transform: scale(1.125);
    transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover:before {
    opacity: 1;
}
  
.card:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
    transition: .15s all ease-out;
    opacity: 0;
    border-radius: 5px;
}

.card-body {
    background-color: var(--color-primary-gradiant);
    text-align: center;
}

#instructions img {
    padding: 24px;
    background-image: 
        linear-gradient(
            to bottom, var(--color-primary-dark), var(--color-secondary-gradiant)
        )
        ,var(--image-background1);
    backdrop-filter: blur(3px);
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--color-primary);
}

#instructions a {
    color: var(--color-secondary-bright);
}

#instructions a:hover {
    color: var(--color-secondary);
}

/* #contact */

/* #collapseForm {
    margin-top: 20px;
    margin-bottom: 300px;
    padding: 20px 0;
    max-width: 720px;
    border: 2px solid var(--color-primary-dark);
    border-radius: 25px;
    background-image: 
        linear-gradient(
            to bottom, var(--color-secondary-gradiant), var(--color-primary-gradiant)
        )
        ,var(--image-background);
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(50px);
} */

/* .collapse {
    margin-top: 16px;
    text-align: center;
} */

/* #collapseForm .btn {
    background-image: 
        linear-gradient(
            to bottom, var(--color-primary-bright), var(--color-secondary)
        )
        ,var(--image-background);
        background-size: cover;
    background-attachment: fixed;
    background-image: var(--image-background);
} */

/* #contact-favicon-mail {
    color: var(--color-primary-dark);
}

#contact-favicon-twitter {
    color: var(--color-primary-brightest);
}

#contact-favicon-steam {
    color: var(--color-text-muted);
} */

/* ______________________________________________________________________________________________________________________ */
/* _____________________________________________________ sections _______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
/* section {
    margin-top: 64px;
}

section p {
    font-size: 1.1em;
}

*/

.main {
    background-color: var(--color-primary);
    margin: 0;
    padding: 80px 80px 240px 80px;
}

#main-join {
    background-image: 
        linear-gradient(
            to bottom, var(--color-primary-dark), var(--color-secondary-gradiant)
        )
        ,var(--image-background2);
    backdrop-filter: blur(10px);
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--color-primary);
}

/* .map-responsive {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% )
} */

/* .map-responsive > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
} */

/* .section-image > img {
    width: 100%;
    height: 100%;
} */

.contact {
    text-align: center;
}

.contact-link {
    color: var(--color-secondary-dark);
}

.contact-link:hover {
    text-decoration: none;
    color: var(--color-primary);
}

label {
    color: var(--color-primary);
}


/* ______________________________________________________________________________________________________________________ */
/* _______________________________________________________ tabs _________________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* border-bottom: 1px solid var(--color-secondary-dark); */
}

.tab {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    cursor: pointer;
    padding: 8px;
    width: 100%;
    text-align: center;
}

.tab.active {
    background-color: var(--color-secondary-dark); /* FIX - This is not working properly */
    color: var(--color-white);
    transition: all ease-in-out 0.4s;

}

.tab:hover {
    background-color: var(--color-secondary);
    transition: all ease-in-out 0.4s;
}

.tab-content h2 {
    text-align: center;
}

/* ______________________________________________________________________________________________________________________ */
/* _____________________________________________________ carousels ______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
.carousel {
	margin: 16px auto;
	padding: 0 80px;
    min-height: 480px;
}

.carousel .carousel-item {
	text-align: center;
	overflow: hidden;
}

.carousel .carousel-item h4 {
	font-family: 'Varela Round', sans-serif;
}

.carousel .carousel-item img {
	max-width: 100%;
	display: inline-block;
    background-color: var(--color-primary-dark);
}

/* .carousel .carousel-item .btn {
	border-radius: 0;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	background: #a177ff;
	padding: 6px 15px;
	margin-top: 5px;
} */

.carousel .carousel-item .btn:hover {
	background: var(--color-primary);
}

.carousel .carousel-item .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}

.carousel .thumb-wrapper {
	margin: 5px;
	text-align: left;
	background: var(--color-primary-bright);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);   
}

.carousel .thumb-content {
	padding: 15px;
	font-size: 13px;
}

.carousel-control-prev,
.carousel-control-next {
	height: 44px;
	width: 44px;
	background: none;	
	margin: auto 0;
	border-radius: 50%;
	border: 3px solid var(--color-secondary);
}

.carousel-control-prev i,
.carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: var(--color-secondary);
	text-shadow: none;
	font-weight: bold;
}

.carousel-control-prev i {
	margin-left: -3px;
}

.carousel-control-next i {
	margin-right: -3px;
}

.carousel-indicators {
	bottom: -50px;
}

.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 4px;
	border: none;
}

.carousel-indicators li {	
	background: var(--color-primary-dark);
}

.carousel-indicators li.active {	
	background: var(--color-secondary);
}

/* ______________________________________________________________________________________________________________________ */
/* ____________________________________________________ contact form ____________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
form label {
    color: var(--color-text-muted);
}

/* ______________________________________________________________________________________________________________________ */
/* _______________________________________________________ footer _______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
/* footer {
    margin-top: 240px;
} */

#footer-home {
    margin-top: 0px;
}

footer p {
    font-size: 0.7em;
}

footer h5 {
    font-size: 0.85em;
}

footer hr {
    background-color: var(--color-primary-darker);
}

footer a {
    color: var(--color-secondary-dark);
    text-decoration: none;
}

footer a:hover {
    color: var(--color-secondary);
    text-decoration: none;
}
