@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat+Alternates:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
    --color-white: rgb(255, 255, 255);
    --color-primary: rgb(8, 34, 48);
    --color-primary-dark: rgb(0, 19, 28);
    --color-primary-darker: rgb(0, 19, 28);
    --color-primary-gradiant: rgba(0, 60, 0, 0.2);
    --color-secondary: rgb(80, 150, 34);
    --color-text-muted: rgba(255, 255, 255, 0.6);
    --color-text-dark: rgb(80, 80, 80);
    --image-background: url('images/background.jpg');
    --image-list-service: url('images/service.png');
}




/* ______________________________________________________________________________________________________________________ */
/* _____________________________________________ overwrite bootstrap styling ____________________________________________ */
/* ______________________________________________________________________________________________________________________ */
.bg-secondary {
    background-color: var(--color-primary)!important;
}

.bg-dark{
    background-color: var(--color-primary-dark)!important;
}

.text-muted {
    color: var(--color-text-muted)!important;
}

.text-dark {
    color: var(--color-text-dark)!important;
}

.btn-primary {
    background-color: var(--color-secondary)!important;
}




/* ______________________________________________________________________________________________________________________ */
/* _______________________________________________________ general ______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
html {
    scroll-behavior: smooth;
  }

body {
    font-family: Nunito, Barlow, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

h2 {
    color: var(--color-secondary);
}

hr {
    background-color: var(--color-text-muted);
}




/* ______________________________________________________________________________________________________________________ */
/* _______________________________________________________ navbar _______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
/* #brand {
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    margin: 0;
    padding: 0;
} */

#navbar-logo {
    height: 60px;
    margin: 0;
    padding: 0;
}

.navbar {
    font-size: 0.8em;
}

#navbar-logo {
    margin-right: 24px;
}

#navbarSupportedContent {
    margin: 0;
}

#navbar-faceit-login {
    margin: 0;
}

/* .navbar-collapse {
    margin-left: 32px;
} */

.nav-item {
    font-size: 1.7em;
    margin-right: 16px;
}

.nav-item::before {
    content: '';
    display: block;
    height: 2px;
    background-color: var(--color-white);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 0.2s;
}

.nav-item:active::before,
.nav-item:focus::before,
.nav-item:hover::before {
    width: 100%;
}

.nav-item:active,
.nav-item:focus,
.nav-item:hover {
    color: var(--color-primary);
    transition: all ease-in-out 0.3s;
}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: var(--color-primary);
    box-shadow: 0 0 16px black;
}

.dropdown-item {
    color: var(--color-text-muted);
    font-size: 1.2em;
}

.dropdown-item:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
    transition: all ease-in-out 0.4s;
}




/* ______________________________________________________________________________________________________________________ */
/* _____________________________________________________ jumbotron ______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
.jumbotron {
    background-image: 
        linear-gradient(
            to bottom, var(--color-primary), var(--color-primary-gradiant)
        )
        ,var(--image-background);
    /* filter: blur(5px); FIX - FIND OUT HOW TO USE FILTER ON BACKGROUND IMAGE */
    background-size: cover;
    border-radius: 0;
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
    /* padding: 80px 80px; */
    margin-bottom: 0;
}

.home-jumbotron{
    min-height: 900px;
    /* background-size: contain; */
}

.jumbotron-logo {
    height: 120px;
    width: 120px;
    padding: 0;
    margin: 0;
}


.jumbotron h1 {
    margin-bottom: 0px;
}

.home-jumbotron h1 {
    margin-top: 180px;  /* try to center this instead of hard ciding it */
    margin-bottom: 0px;
}

#lead-text {
    color: var(--color-text-muted);
    margin-top: 16px;
    margin-bottom: 0;
}

#jumbotron-btn {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    margin-top: 32px;
}

#jumbotron-btn:hover {
    /* border: 8px; */
    border-color: var(--color-primary-dark);
}

.contact-type-span {
    color: var(--color-secondary);
}

.jumbotron h2 {
    color: var(--color-white);
}

.jumbotron hr {
    width: 160px;
}




/* ______________________________________________________________________________________________________________________ */
/* _____________________________________________________ sections _______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
section {
    margin-top: 64px;
}

section p {
    font-size: 1.1em;
}

.map-responsive {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}

.map-responsive > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.section-image > img {
    width: 100%;
    height: 100%;
}

.contact {
    text-align: center;
}

.contact-link {
    color: var(--color-secondary);
}

.contact-link:hover {
    text-decoration: none;
    color: var(--color-primary);
}

/* .backtotop {
    margin-top: 32px;
} */

label {
    color: var(--color-primary);
}




/* ______________________________________________________________________________________________________________________ */
/* ______________________________________________________ collapse ______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
.btn {
    margin: 0 4px;
}

.collapse {
    margin-top: 16px;
    text-align: center;
}




/* ______________________________________________________________________________________________________________________ */
/* _______________________________________________________ tabs _________________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--color-primary);
}

.tab {
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
    padding: 8px;
    width: 100%;
    text-align: center;
}

.tab.active {
    background-color: var(--color-secondary);  /* FIX - This is not working properly */
}

.tab:hover {
    background-color: var(--color-secondary);
}

.tab-content h2 {
    text-align: center;
}

/* .tab-content {
    margin-left: 24px;
    margin-right: 24px;
} */




/* ______________________________________________________________________________________________________________________ */
/* _____________________________________________________ carousels ______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */

.carousel {
	margin: 16px auto;
	padding: 0 80px;
    min-height: 480px;
}

.carousel .carousel-item {
	text-align: center;
	overflow: hidden;
}

.carousel .carousel-item h4 {
	font-family: 'Varela Round', sans-serif;
}

.carousel .carousel-item img {
	max-width: 100%;
	display: inline-block;
}

.carousel .carousel-item .btn {
	border-radius: 0;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	background: #a177ff;
	padding: 6px 15px;
	margin-top: 5px;
}

.carousel .carousel-item .btn:hover {
	background: var(--color-primary);
}

.carousel .carousel-item .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}

.carousel .thumb-wrapper {
	margin: 5px;
	text-align: left;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);   
}

.carousel .thumb-content {
	padding: 15px;
	font-size: 13px;
}

.carousel-control-prev,
.carousel-control-next {
	height: 44px;
	width: 44px;
	background: none;	
	margin: auto 0;
	border-radius: 50%;
	border: 3px solid var(--color-secondary);
}

.carousel-control-prev i,
.carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: var(--color-secondary);
	text-shadow: none;
	font-weight: bold;
}

.carousel-control-prev i {
	margin-left: -3px;
}

.carousel-control-next i {
	margin-right: -3px;
}

.carousel-indicators {
	bottom: -50px;
}

.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 4px;
	border: none;
}

.carousel-indicators li {	
	background: var(--color-primary);
}

.carousel-indicators li.active {	
	background: var(--color-secondary);
}

/* .service-list {
    list-style-image: var(--image-list-service);
} */






/* .section-text-left {
    max-width: 400px;
    float: left;
}

.section-image-right {
    display: block;
    width: auto;
    float: right;
    margin: 0 0.5em 0.5em 0;
    line-height: 0;
}

.section-text-right {
    float: right;
}

.section-image-left {
    display: block;
    width: auto;
    float: left;
    margin: 0 0.5em 0.5em 0;
    line-height: 0;
} */




/* ______________________________________________________________________________________________________________________ */
/* _______________________________________________________ footer _______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
footer {
    margin-top: 240px;
}

#footer-home {
    margin-top: 0px;
}

footer p {
    font-size: 0.7em;
}

footer h5 {
    font-size: 0.85em;
}

footer hr {
    background-color: var(--color-primary-darker);
}

footer a {
    color: var(--color-primary);
    text-decoration: none;
}

footer a:hover {
    color: var(--color-primary);
    text-decoration: none;
}

/* #author-link {
    text-decoration: none;
    color: var(--color-primary);
} */
